*.pyc
*.pyo
.ipynb_checkpoints/

*build*
*egg*
*dist*
.cache
doc/README.rst
doc/tutorials/*

notebooks/tutorials/.clapp/*.lua

glt/tests/1d/.clapp
glt/tests/1d/*.mm
glt/tests/1d/*.txt
glt/tests/1d/*.vtk
glt/tests/1d/*.png

glt/tests/2d/.clapp
glt/tests/2d/*.mm
glt/tests/2d/*.txt
glt/tests/2d/*.vtk
glt/tests/2d/*.png

glt/tests/3d/.clapp
glt/tests/3d/*.mm
glt/tests/3d/*.txt
glt/tests/3d/*.vtk
glt/tests/3d/*.png
